@font-face {
    font-family: 'GeneralSans-Variable';
    src: local('General Sans Variable'), local('GeneralSansVariable'),
        url('/fonts/GeneralSans-Variable.woff2') format('woff2');
    font-weight: 400 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nersans-Three';
    src: local('NersansThree'),
        url('fonts/NersansThree.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

