// assets/scss/_vars.scss

$debug: false;

// === Color Theme ===

// Color palette:

$beige: #F6E8D8;
$blanc: #F9F4EF;
$orange: #E56B46;
$bleu: #203348;
$marron: #563018;
$vert: #7D7932;
$jaune: #FBB053;
$noir: #222021;

.c-beige {
  color: $beige !important;
}

.b-beige {
  background-color: $beige !important;
}

.c-blanc {
  color: $blanc !important;
}

.b-blanc {
  background-color: $blanc !important;
}

.c-orange {
  color: $orange !important;
}

.b-orange {
  background-color: $orange !important;
}

.c-bleu {
  color: $bleu !important;
}

.b-bleu {
  background-color: $bleu !important;
}

.c-marron {
  color: $marron !important;
}

.b-marron {
  background-color: $marron !important;
}

.c-vert {
  color: $vert !important;
}

.b-vert {
  background-color: $vert !important;
}

.c-jaune {
  color: $jaune !important;
}

.b-jaune {
  background-color: $jaune !important;
}

.c-noir {
  color: $noir !important;
}

.b-noir {
  background-color: $noir !important;
}

// Primary brand color (dark chocolate brown)
$primary: $orange; // approx. #471c08
$primary-invert: $beige;    // light beige for contrast text

// Optional palette extensions
$link: $primary;
$info: $marron;         // keep blue info
$success: $vert;      // soft green
$warning: $jaune;      // warm yellow
$danger: hsl(348, 86%, 61%);       // red alert

// Background and text
$light: $beige;   // beige background
$dark: $beige;    // dark brown text

// === Background ===
$base-bg-h: 30;
$base-bg-s: 20%;
$base-bg-l: 97%;
$base-bg-dark-l: calc(100% - $base-bg-l);
$hover-delta: 5%;

$background-light: hsl($base-bg-h, $base-bg-s, $base-bg-l);
$background-dark: hsl($base-bg-h, $base-bg-s, $base-bg-dark-l);

$body-background-color: $background-light;
$light: $background-light;
$light-invert: $dark;


// Derived contrast values (optional, used in buttons, tags)
$light-invert: $dark;
$dark-invert: $light;

// === Hover ===
$hover-bg-light: hsl($base-bg-h, $base-bg-s, $base-bg-l - $hover-delta); // slightly darker
$hover-bg-dark: hsl($base-bg-h, $base-bg-s, $base-bg-dark-l + $hover-delta); // slightly lighter


// === Typography ===

$family-primary: 'GeneralSans-Variable', 'Inter', 'Open Sans', sans-serif;
$family-code: 'Fira Code', monospace;

// Custom weight and sizes
$weight-normal: 400;
$weight-bold: 700;
$size-1: 3rem;


// === Spacing & Layout ===

$gap: 48px;             // consistent with fixed pixel layout
$radius: 8px;           // more rounded, modern
$radius-small: 4px;
$radius-large: 12px;

$navbar-padding-vertical: 1rem;

