.hero-title {
  font-size: 8em !important;
}

.hero {
  position: relative;
  padding-top: 8rem;
}

.hero .subtitle {
  max-width: 750px;
  font-weight: 500;
}

.doors-image {
  width: 100%;
  overflow-x: hidden;
}
.custom-hero-bottom {
  width: 100vw;
}
