.hero-title {
  font-size: 8em;
}

.hero {
  position: relative;
  padding-top: 8rem;
}

.hero .subtitle {
  max-width: 750px;
  font-weight: 500;
}

.doors-image {
  width: 100%;
  max-height: 20vh;
  overflow-x: hidden;
  margin-bottom: -6.75px;
}
.custom-hero-bottom {
  width: 100vw;
}
