/* Navbar */
.custom-navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;

  .column {
    padding: 0;
  }

  .navitems-container {

    .custom-navitem {
      background-color: transparent;
      height: 100%;
      display: flex;
      align-items: center;
      padding-inline: .7em;
      transition: 
        background-color 0.3s ease,
        border-color 0.3s ease;
      border-bottom: 3px solid transparent;

      &:hover {
        background-color: var(--hover-background);
        border-bottom: 3px solid var(--bulma-link-text);
      }
    }
  }
}
